chrome 101
edge 100
edge 99
firefox 99
firefox 91
ios_saf 15.4
ios_saf 15.2
ios_saf 15.0-15.1
ios_saf 14.5-14.8
ios_saf 14.0-14.4
safari 15.4
safari 15.2
safari 15.1
safari 15
safari 14.1
safari 14

Firefox ESR
not dead
not IE 9-11
not ios_saf 15.2-15.3
not safari 15.2-15.3