<div class="custom-top-bar">
  <div class="container-fluid">
    <nav
      class="navbar navbar-expand-lg navbar-dark p-0"
      aria-labelledby="mainnavheading"
    >
      <form class="d-flex ms-auto">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link p-1 custom-color" href="#">
              <em class="bi bi-bell"></em>Notificações
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-1 custom-color" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-1 custom-color" href="#">Cadastrar</a>
          </li>
        </ul>
      </form>
    </nav>
  </div>

  <nav ngxNavbarDynamicExpand class="navbar-light navbar-dark p-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MarketPlace</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="collapse.toggle()"
        aria-controls="main-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span
          class="navbar-toggler-icon d-flex align-items-center justify-content-center"
        >
        </span>
      </button>
      <ngx-navbar-collapse #collapse="ngxNavbarCollapse">
        <div class="container-fluid p-0">
          <form class="d-flex input-group w-auto">
            <input
              [(ngModel)]="selected"
              [ngModelOptions]="{standalone: true}"
              [typeahead]="states"
              type="search"
              class="form-control rounded custom-search"
              placeholder="Procurar..."
              aria-label="Search"
            />
            <span class="input-group-text border-0" id="search-addon">
              <em class="bi bi-search"></em>
            </span>
          </form>
        </div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              Home <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Minha Conta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meus Pedidos</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">
              <em class="bi bi-cart2"></em> Carrinho
            </button>
          </li>
        </ul>
      </ngx-navbar-collapse>
    </div>
  </nav>
</div>
